@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
body {
  color: #000000;
}

.logo__text {
  color: #D04F4F;
}

#mainSearchField {
  background: #E7E7E7;
  border: none;
  outline: none;
  border-style: none;
}
#mainSearchField:focus {
  border: 2px solid #D04F4F;
}
#mainSearchField::placeholder {
  opacity: 25%;
}

.combobox-container {
  color: #FFFFFF;
}
.combobox-container .combobox__header--1, .combobox-container .combobox__datalist--1 {
  background-color: #3282F7;
}
.combobox-container .combobox__header--2, .combobox-container .combobox__datalist--2 {
  background-color: #68D9A4;
}
.combobox-container .combobox__header--3, .combobox-container .combobox__datalist--3 {
  background-color: #ED6454;
}
.combobox-container .combobox__input {
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  height: 90%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.combobox-container .combobox__input:focus {
  outline: none;
}
.combobox-container .combobox__input--1:focus {
  background-color: #085bd4;
}
.combobox-container .combobox__input--2:focus {
  background-color: #31c37f;
}
.combobox-container .combobox__input--3:focus {
  background-color: #dd2c17;
}
.combobox-container .combobox__input::placeholder {
  color: #FFFFFF;
  opacity: 50%;
}
.combobox-container .combobox__datalist--1 .option:hover {
  background-color: #0751bc;
}
.combobox-container .combobox__datalist--2 .option:hover {
  background-color: #2caf72;
}
.combobox-container .combobox__datalist--3 .option:hover {
  background-color: #c62715;
}

.tagsList .option {
  color: white;
}
.tagsList .optionOfDatalist--1 {
  background-color: #3282F7;
}
.tagsList .optionOfDatalist--2 {
  background-color: #68D9A4;
}
.tagsList .optionOfDatalist--3 {
  background-color: #ED6454;
}

.recipe-card {
  color: #000000;
}
.recipe-card__img {
  background-color: #C7BEBE;
}
.recipe-card__details {
  background-color: #E7E7E7;
}

body {
  font-family: "DM Sans", sans-serif;
}

.recipe-card .recipe-title {
  font-family: "Roboto", sans-serif;
}

.logo__text {
  font-size: 2.25em;
  font-weight: 700;
}

.search-form__input {
  font-size: 1.125em;
}
.search-form__icon .fa-search {
  font-size: 2em;
}

.recipe-card .recipe-title {
  font-size: 1.125em;
  font-weight: 400;
}
.recipe-card .recipe-duration {
  font-weight: 700;
}
.recipe-card .details__bottom {
  font-size: 0.75em;
}
.recipe-card .recipe-ingredient {
  font-weight: 700;
}
.recipe-card .fontWeight {
  font-weight: 700;
}

body {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.container {
  width: 100%;
}

/*header {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
/*main {
    width: 90%;
  /*  @include border;*/
.filters {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 0.25em;
  flex-wrap: wrap;
  height: 7em;
}

.recipe-wrapper {
  z-index: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  grid-gap: 2.5em;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .recipe-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .recipe-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 0em;
  justify-content: center;
  align-items: center;
  /* @include border;*/
}
.logo__img {
  width: 3.16em;
  /* @include border;*/
}
.logo__text {
  /*  @include border;*/
  margin: 0 auto;
}

.recipe-card--hidden {
  display: none;
}
.recipe-card--visible {
  z-index: 0;
  height: 22.75em;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
  text-decoration: none;
}
.recipe-card__img {
  height: 11.125em;
}
.recipe-card__details {
  height: 11.625em;
  padding: 0.5em 1.25em 0 1.25em;
}
.recipe-card__details .details__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}
.recipe-card__details .details__bottom {
  display: flex;
  height: 75%;
  column-gap: 1.5em;
}
.recipe-card .recipe-title {
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 0;
}
.recipe-card .recipe-duration {
  display: flex;
  align-items: center;
}
.recipe-card .recipe-duration p {
  display: flex;
  margin-left: 0.5em;
}
.recipe-card .recipe-ingredientList {
  list-style: none;
  width: 50%;
  margin-left: -3.25em;
}
.recipe-card .recipe-ingredientList li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: " ";
}
.recipe-card .recipe-description {
  box-sizing: border-box;
  width: 50%;
  height: 81%;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-search {
  width: 100%;
}

.main-search__formField {
  width: 100%;
  position: relative;
}
.main-search__formField .formField__label {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.main-search__formField .formField__input {
  width: 100%;
  border-radius: 5px;
  padding: 1.5em;
  padding-right: 5em;
}
.main-search__formField .formField__icon {
  z-index: 1;
  margin-left: -2.5em;
  display: flex;
  align-items: center;
}

/************* Validation / invalidation des champs du formulaire *****************/
.main-search__formField[data-error-visible=false] .data-error, .data-info--hidden {
  display: none;
}

.main-search__formField[data-error-visible=true] .data-error, .data-info--visible {
  font-size: 1em;
  font-weight: bold;
  color: black;
  display: block;
  margin-top: 0.5em;
  text-align: left;
  width: 100%;
}

.option--visible {
  display: block;
  list-style: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 2em;
  margin-left: -2em;
  padding: 0;
  cursor: pointer;
}

.option--hidden {
  display: none;
}

.tagsList .option {
  display: flex;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: auto;
}
.tagsList .option .closeBtn {
  background-image: url("../assets/icons/close_xmark_circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1.25em;
  height: 1.25em;
  margin-left: 1em;
  cursor: pointer;
}

.tagsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1em;
}

.combobox-container {
  padding-left: 1.25em;
  padding-right: 1.25em;
  z-index: 2;
  margin: 0;
}

.combobox__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.125em;
  border-radius: 5px;
}
.combobox__datalist {
  z-index: 2;
  border-radius: 0 0 5px 5px;
}
.combobox__datalist--closed {
  display: none;
}
.combobox__datalist--open {
  margin-top: 0;
  display: grid;
  border: 2px solid red;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 3em;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .combobox__datalist--open {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .combobox__datalist--open {
    grid-template-columns: repeat(3, 1fr);
  }
}

.combobox__header .combobox__label--hidden, .combobox__header .combobox__input--hidden {
  display: none;
}

.expandBtn {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.25em;
  height: 2.25em;
  z-index: 2;
}

.expandBtn--more {
  background-image: url("../assets/icons/arrow_down.svg");
}

.expandBtn--less {
  transform: rotate(180deg);
}

/*# sourceMappingURL=style.css.map */
