@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
body {
  font-family: "DM Sans", sans-serif;
}

.recipe-card .recipe-title {
  font-family: "Roboto", sans-serif;
}

body {
  color: #000000;
}

.logo__text {
  color: #D04F4F;
}

#searchField {
  background: #E7E7E7;
  border: none;
  outline: none;
  border-style: none;
}
#searchField:focus {
  border: 2px solid #D04F4F;
}
#searchField::placeholder {
  opacity: 25%;
}

.recipe-card {
  color: #000000;
}
.recipe-card__img {
  background-color: #C7BEBE;
}
.recipe-card__details {
  background-color: #E7E7E7;
}

.logo__text {
  font-size: 2.25em;
  font-weight: 700;
}

.search-form__input {
  font-size: 1.125em;
}
.search-form__icon .fa-search {
  font-size: 2em;
}

.recipe-card .recipe-title {
  font-size: 1.125em;
  font-weight: 400;
}
.recipe-card .recipe-duration {
  font-weight: 700;
}
.recipe-card .details__bottom {
  font-size: 0.75em;
}
.recipe-card .recipe-ingredient {
  font-weight: 700;
}
.recipe-card .fontWeight {
  font-weight: 700;
}

/*body {
    @include flex-col-gap($gapSize-body);
    align-items: center;
}*/
/*header {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
/*main {
    width: 90%;
  /*  @include border;*/
/*.filters {
    display: flex;
    flex-direction: row;
}*/
.recipe-wrapper {
  height: 5500px;
  row-gap: 2.5em;
}

/*.recipe-card {
    width: 23.75em;
    height: 22.75em;
    border-radius: $radius-d;
    overflow: hidden;
    @include flex-col-gap(0);
    text-decoration: none;
    &__img {
        height: 11.125em;
    }
    &__details {
        height: 11.625em;
        padding: 0.5em 1.25em 0 1.25em;
        //padding-bottom: 0;
        & .details__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 20%;
        }
        & .details__bottom {
            display: flex;
            height: 75%;
            column-gap: 1.5em;
        }
    }
    & .recipe-title {
        width: 65%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        margin-top: 0;
        margin-bottom: 0;
    }
    & .recipe-duration {
        display: flex;
        align-items: center;
        & p {
            display: flex;
            margin-left: 0.5em;
        }
    }
    & .recipe-ingredientList {
        list-style: none;
        width: 50%;
        margin-left: -3.25em;
        & li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: " "; 
        }
    }
    & .recipe-description {
        box-sizing: border-box;
       // margin-left: 0.5em;
        width: 50%;
        height: 82%;
       // @include border;
       // ellipsis multiligne
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}*/
.logo {
  display: flex;
  flex-direction: column;
  gap: 0em;
  justify-content: center;
  align-items: center;
  /* @include border;*/
}
.logo__img {
  width: 3.16em;
  /* @include border;*/
}
.logo__text {
  /*  @include border;*/
  margin: 0 auto;
}

.search-form {
  position: relative;
}
.search-form__label {
  display: flex;
  flex-direction: row;
}
.search-form__input {
  border-radius: 5px;
  padding: 1.5em;
}
.search-form__icon {
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
  right: 1em;
  display: flex;
  align-items: center;
}

.listbox-container {
  border: 1px solid black;
}

.listbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid red;
}

.option {
  width: 33%;
  list-style: none;
  margin-left: -2em;
}

/*# sourceMappingURL=style.css.map */
