.combobox-container {
    padding-left: 1.25em;
    padding-right: 1.25em;
    z-index: 2;
    margin: 0;
}

.combobox {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4.125em;
        border-radius: $radius-d;
    }
    &__datalist {
        z-index: 2;
        border-radius: 0 0 $radius-d $radius-d;
        &--closed {
            display: none;
        }
        &--open {
            margin-top: 0;
        display: grid;
        border: 2px solid red;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 3em;
        @include MediumScreen-only {
            grid-template-columns: repeat(2, 1fr); 
        }
        @include LargeScreen-only {
            grid-template-columns: repeat(3, 1fr); 
        }
        }
    }
}

.combobox__header {
    & .combobox__label, & .combobox__input {
        &--hidden {
            display: none;
        }
    }
}

.option {
    display: block;
    //width: 33%;
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 2em;
    margin-left: -2em;
    padding: 0;
}