.listbox-container {
    width: 33%;
   // max-width: 50%;
   // height: 50em;
    @include border;
}

.listbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid red;
}

.option {
    width: 33%;
    list-style: none;
    margin-left: -2em;
}