.option {
    display: block;
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 2em;
    margin-left: -2em;
    padding: 0;
    cursor: pointer;
}

.tagsList .option {
    display: flex;
    //width: 6.75em;
    padding: 0.5em 1em;
    border-radius: $radius-d;
    cursor: auto;
    & .closeBtn {
        background-image: url("../assets/icons/close_xmark_circle.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 1.25em;
        height: 1.25em;
        margin-left: 1em;
        cursor: pointer;
    }
}