/*.recipe-card {
    width: 23.75em;
    height: 22.75em;
    border-radius: $radius-d;
    overflow: hidden;
    @include flex-col-gap(0);
    text-decoration: none;
    &__img {
        height: 11.125em;
    }
    &__details {
        height: 11.625em;
        padding: 0.5em 1.25em 0 1.25em;
        //padding-bottom: 0;
        & .details__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 20%;
        }
        & .details__bottom {
            display: flex;
            height: 75%;
            column-gap: 1.5em;
        }
    }
    & .recipe-title {
        width: 65%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        margin-top: 0;
        margin-bottom: 0;
    }
    & .recipe-duration {
        display: flex;
        align-items: center;
        & p {
            display: flex;
            margin-left: 0.5em;
        }
    }
    & .recipe-ingredientList {
        list-style: none;
        width: 50%;
        margin-left: -3.25em;
        & li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: " "; 
        }
    }
    & .recipe-description {
        box-sizing: border-box;
       // margin-left: 0.5em;
        width: 50%;
        height: 82%;
       // @include border;
       // ellipsis multiligne
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}*/