.main-search {
    width: 100%;
}

.main-search__formField {
    position: relative;
    & .formField {
       
        &__label{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            }
        &__input {
            box-sizing: border-box;
            width: 100%;
            border-radius: $radius-d;
            padding: 1.5em;
            padding-right: 5em;
        }
        &__icon {
            position: absolute;
            top: 1.4375em;
            right: 1em;
            z-index: 1;
            //margin-left: -2.5em;
            display: flex;
            align-items: center;
        }
    }     
}

/************* Validation / invalidation des champs du formulaire *****************/

.main-search__formField[data-error-visible="false"] .data-error, .data-info--hidden {
    display: none;
}
 
.main-search__formField[data-error-visible="true"] .data-error, .data-info--visible {
font-size: 1em;
font-weight: bold;
color: black;
display: block;
margin-top: 0.5em;
text-align: left;
width: 100%;
}