.search-form {
    width: 100%;
    position: relative;
    &__label{
        display: flex;
        flex-direction: row;
    }
    &__input {
        width: 100%;
        border-radius: $radius-d;
        padding: 1.5em;
    }
    &__icon {
        z-index: 1;
        position: absolute;
        height: 100%;
        top: 0;
        right: 1em;
        display: flex;
        align-items: center;
    }
}

/************* Validation / invalidation des champs du formulaire *****************/

/*
.search-form[data-error-visible="true"] .search-form__input {
    border: 0.5em solid black;
  }
*/

.search-form[data-error-visible="false"] .data-error {
    display: none;
}
 
.search-form[data-error-visible="true"] .data-error {
font-size: 1em;
font-weight: bold;
color: black;
display: block;
margin-top: 0.5em;
text-align: left;
}