body {
    color: $color-default;
}

.logo__text {
    color: $color-primary;
}

#searchField {
    background: $color-background;
    border: none;
    outline: none;
    border-style: none;
    &:focus {
        border: 2px solid $color-primary;
    }
    &::placeholder {
        opacity: 25%;
    }
}

.recipe-card {
    color: $color-default;
    &__img {
    background-color: $color-backgroundImg;
    }
    &__details {
        background-color: $color-background;
    }
}