body {
    color: $color-default;
}

.logo__text {
    color: $color-primary;
}

#mainSearchField {
    background: $color-background;
    border: none;
    outline: none;
    border-style: none;
    &:focus {
        border: 2px solid $color-primary;
    }
    &::placeholder {
        opacity: 25%;
    }
}

.combobox-container {
    color: $color-white;
    & .combobox__header, & .combobox__datalist {
        &--1 {
            background-color: $color-comboboxContainer--1 ;
        }
        &--2 {
            background-color: $color-comboboxContainer--2 ;
        }
        &--3 {
            background-color: $color-comboboxContainer--3 ;
        }
    }
    & .combobox__input {
        background-color: transparent;
        color: $color-white;
        border-radius: $radius-d;
        border: none;
        height: 90%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        &:focus {
            outline: none;
        }
        &--1:focus {
            background-color: darken($color: $color-comboboxContainer--1, $amount: 15%);
        }
        &--2:focus {
            background-color: darken($color: $color-comboboxContainer--2, $amount: 15%);
        }
        &--3:focus {
            background-color: darken($color: $color-comboboxContainer--3, $amount: 15%);
        }
        &::placeholder {
            color: $color-white;
            opacity: 50%;
        }
    }
    & .combobox__datalist {
        &--1 .option:hover {
            background-color: darken($color: $color-comboboxContainer--1, $amount: 20%);
        }
        &--2 .option:hover {
            background-color: darken($color: $color-comboboxContainer--2, $amount: 20%);
        }
        &--3 .option:hover {
            background-color: darken($color: $color-comboboxContainer--3, $amount: 20%);
        }
    }
}

.tagsList {
    & .option {
        color: white;
    }
    & .optionOfDatalist {
        &--1 {
            background-color: $color-comboboxContainer--1;
        }
        &--2 {
            background-color: $color-comboboxContainer--2;
        }
        &--3 {
            background-color: $color-comboboxContainer--3;
        }
    } 
}

.recipe-card {
    color: $color-default;
    &__img {
    background-color: $color-backgroundImg;
    }
    &__details {
        background-color: $color-background;
    }
}