.logo__text {
    font-size: $fontSize-logo;
    font-weight: $fontWeight-xs;
}

.search-form {
    &__input {
        font-size: $fontSize-d;
    }
    &__icon {
        & .fa-search {
            font-size: $fontSize-fa;
        }
    }
}

.recipe-card {
    & .recipe-title {
        font-size: $fontSize-d;
        font-weight: $fontWeight-m;
    }
    & .recipe-duration {
        font-weight: $fontWeight-xs;
    }
    & .details__bottom {
        font-size: $fontSize-details;
    }
}