$color-primary: #D04F4F;
$color-background: #E7E7E7;
$color-default: #000000;

$gapSize-d: 0em;
$gapSize-body: 1em;

$font-d: 'DM Sans';

$fontSize-d: 1.125em;
$fontSize-fa: 2em;
$fontSize-logo: 2.25em;

$fontWeight-logo: 700;

$radius-d: 5px;